{% extends "base.html" %}

{% block name_me %}
 {{show_obj.name}}
{% endblock name_me %}

{% block stuff %}
	<a href="{% url 'list' %}">
	<p>
		Return to timeline shows list
	</p>
	</a>

	<div class="card" style="width: 18rem;">
			{% if show_obj.image %}
				<img height="200px" width="200px" class="card-img-top" src="{{show_obj.image.url}}" alt="Card image cap">
			{% endif %}
  	<div class="card-body">
    <h5 class="card-title">Name: {{show_obj.name}}</h5>
    <p class="card-text">Description: {{show_obj.description}}</p>
    <p class="card-text"> User: {{show_obj.username}}</p>
    <p class="card-text">Published: {{show_obj.publish_date}}</p>
    <p class="card-text">Rating: (5/{{show_obj.rating}})</p>
    <a href="#" class="btn btn-primary">Go to user's profile</a>
  	</div>
	</div>

	<br>
	<br>

	<p> other shows by this user:</p>

{# <ul class="list-group">
	{% for item in items %}
  <li class="list-group-item">{{item.name}}: {{item.description}}: price = {{item.price}} KWD</li>
  <li class="list-group-item"></li>
  {% endfor %}
</ul> #}
	


{% endblock stuff %}


