{% extends "base.html" %}
{% block name_me %}
Tv home feed
{% endblock name_me %}

{% block stuff %}



<br>
<form action="{% url 'list' %}" method="GET">
	<div class="input-group mb-3">
		<input type="text" class="form-control" placeholder="Search for a show..." aria-label="Search" name="q">
		<div class="input-group-append">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			<a href="{% url 'create' %}" class="btn btn-info">create a tvgram post!</a>
			{# <input type="submit" class="input-group-text" value="Search"> #}
		</div>
	</div>
</form>


<div class="row">
<div class="card-columns">
	{% for item in shows %}
	<div class="card">
			{% if item.image %}
				<img class="card-img-top" src="{{item.image.url}}" alt="Card image cap">
			{% endif %}
			<div class="card-body">
				<a href="{% url 'detail' show_id=item.id %}">
					<button type="button" class="btn btn-primary btn-lg btn-block"><h5 class="card-title">{{item.name}}</h5></button>
				</a>
					<button type="button" class="btn btn-secondary btn-lg btn-block"><p class="card-text">{{item.description}}</p></button>
					<p class="card-text"><small class="text-muted">Rating: (5/{{item.rating}})</small></p>
					<p class="card-text"><small class="text-muted">Publish date: {{item.publish_date}}</small></p>


					<button type="button" class="btn btn-info" onclick="somefunction2({{user.id}})">
						<span id="heart-number-{{user.id}}">{{user.following_set.count}}</span>
						<i id="heart-color-{{user.id}}" class="fas fa-heart {% if item in my_following %}text-danger{% endif %}"></i>


					</button>
					




					<button class="btn btn-secondary" onclick="somefunction({{item.id}})">
						<span id="follow-number-{{item.id}}">{{item.following_set.count}}</span>
						<i id="follow-color-{{item.id}}" class="fas fa-heart {% if item in my_likes %}text-danger{% endif %}"></i>


					</button>
					<a href="{% url 'delete' show_id=item.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
					<a href="{% url 'update' show_id=item.id %}"><button type="button" class="btn btn-warning">Update</button></a>


				</div>
			</div>
			
			{% endfor %}
		</div>
	</div>

<script>

	function somefunction2(id){
		$.ajax({
			type:"GET",
			url:"/following/"+id,
			error:function(){
				console.log("You failed to do it.")
			},
			success: function(data){
				console.log(data);
				$("#follow-number-"+id).text(data.count);
				if(data.action==="following"){
					$("#follow-color-"+id).addClass("text-danger");
				}
				else{
					$("#follow-color-"+id).removeClass("text-danger");
				}
			}
		})
	}
</script>
<script>

	function somefunction(id){
		$.ajax({
			type:"GET",
			url:"/like/"+id,
			error:function(){
				console.log("You failed to do it.")
			},
			success: function(data){
				console.log(data);
				$("#heart-number-"+id).text(data.count);
				if(data.action==="like"){
					$("#heart-color-"+id).addClass("text-danger");
				}
				else{
					$("#heart-color-"+id).removeClass("text-danger");
				}
			}
		})
	}
</script>
{% endblock stuff %}


