{% extends "base.html" %}

{% block name_me %}
 {{profile_obj.name}}
{% endblock name_me %}

{% block stuff %}
	<a href="{% url 'list' %}">
	<p>
		Return to the feed page
	</p>
	</a>

	<div class="card" style="width: 18rem;">
			{% if profile_obj.image %}
				<img class="card-img-top" src="{{profile_obj.image.url}}" alt="Card image cap">
			{% endif %}
  	<div class="card-body">
    <h5 class="card-title">Username: {{profile_obj.username}}</h5>
    <p class="card-text">First name: {{profile_obj.user.first_name}}</p>
    <p class="card-text">Last name: {{profile_obj.user.last_name}}</p>
    <p class="card-text">Date of Birth: {{profile_obj.dob}}</p>
    <p class="card-text">About: {{profile_obj.about}}</p>
   
    <a href="{% url 'edit_profile' profile_id=profile_obj.id %}" class="btn btn-dark">Edit your profile</a>
    <a href="{% url 'create' %}" class="btn btn-info">create a tvgram post!</a>
    {# <a id="follow-color-{{item.id}}" , href="{% url 'follow' %}" class="btn btn-info">Follow!</a> #}
	</div>

	<br>
	<br>

	<p> other shows by this user:</p>

  

{# <ul class="list-group">
	{% for item in items %}
  <li class="list-group-item">{{item.name}}: {{item.description}}: price = {{item.price}} KWD</li>
  <li class="list-group-item"></li>
  {% endfor %}
</ul> #}
	
<script>

    function somefunction(id){
        $.ajax({
            type:"GET",
            url:"/follow/"+id,
            error:function(){
                console.log("You failed to do it.")
            },
            success: function(data){
                console.log(data);
                $("#follow-number-"+id).text(data.count);
                if(data.action==="follow"){
                    $("#follow-color-"+id).addClass("text-danger");
                }
                else{
                    $("#follow-color-"+id).removeClass("text-danger");
                }
            }
        })
    }
</script>

{% endblock stuff %}