{% extends "base.html" %}
{% block name_me %}
Searching tvgram users page
{% endblock name_me %}

{% block stuff %}

<p> Tvgrams Users Search Page...</p>

<div class="row">
<div class="card-columns">
	{% for item in object_list %}
	<div class="card">
			{% if item.image %}
				<img class="card-img-top" src="{{item.image.url}}" alt="Card image cap">
			{% endif %}
			<div class="card-body">
				<a href="{% url 'profile' profile_id=item.id %}">
					<button type="button" class="btn btn-dark btn-lg btn-block"><h5 class="card-title">Username: {{item.user}}</h5></button>
				</a>
					<p class="card-text"><small class="text-muted">First name: {{item.first_name}})</small></p>
					<p class="card-text"><small class="text-muted">Last name: {{item.last_name}})</small></p>
					<p class="card-text"><small class="text-muted"> Date of Birth: {{item.dob}}</small></p>
					<p class="card-text"><small class="text-muted"> About: {{item.about}}</small></p>


					<a href="{% url 'delete' show_id=item.id %}"><button type="button" class="btn btn-dark">Follow</button></a>

					<a href="{% url 'update' show_id=item.id %}"><button type="button" class="btn btn-info">Unfollow</button></a>

					<button class="btn btn-secondary" onclick="followfunction({{item.id}})">
						<span id="follow-number-{{item.id}}">{{item.rel_to_set.count}}</span>
						<i id="follow-color-{{item.id}}" class="fas fa-star {% if item in my_following %}text-danger{% endif %}"></i>
					</button>



				</div>
			</div>
			
			{% endfor %}
		</div>
	</div>

<script>

	function followfunction(id){
		$.ajax({
			type:"GET",
			url:"/contact/"+id,
			error:function(){
				console.log("You failed to follow.")
			},
			success: function(data){
				console.log(data);
				$("#follow-number-"+id).text(data.count);
				if(data.action==="follow"){
					$("#follow-color-"+id).addClass("text-danger");
				}
				else{
					$("#follow-color-"+id).removeClass("text-danger");
				}
			}
		})
	}
</script>


{% endblock stuff %}


