{% extends "base.html" %}
{% block name_me %}
Searching tvgram users page
{% endblock name_me %}

{% block stuff %}

<p> Tvgrams Users Search Page...</p>

<div class="row">
<div class="card-columns">
	{% for item in object_list %}
	<div class="card">
			{% if item.image %}
				<img class="card-img-top" src="{{item.image.url}}" alt="Card image cap">
			{% endif %}
			<div class="card-body">
				<a href="{% url 'profile' profile_id=item.id %}">
					<button type="button" class="btn btn-dark btn-lg btn-block"><h5 class="card-title">Username: {{item.user}}</h5></button>
				</a>
					<p class="card-text"><small class="text-muted">First name: {{item.first_name}})</small></p>
					<p class="card-text"><small class="text-muted">Last name: {{item.last_name}})</small></p>
					<p class="card-text"><small class="text-muted"> Date of Birth: {{item.dob}}</small></p>
					<p class="card-text"><small class="text-muted"> About: {{item.about}}</small></p>


					<a href="{% url 'delete' show_id=item.id %}"><button type="button" class="btn btn-dark">Follow</button></a>

					<a href="{% url 'update' show_id=item.id %}"><button type="button" class="btn btn-info">Unfollow</button></a>


				</div>
			</div>
			
			{% endfor %}
		</div>
	</div>

{% endblock stuff %}


